/**********************************************
ERDT Admin Login Styles
Author: Christian Sta.Ana
Date: Fri Jul 18
**********************************************/

.login #container {
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.login #header {
    display: none;
}

.login #content-main #erdt-logo {
    width: 70%;
    margin: 20px auto 0;
    display: block;
}

.login #content {
    min-height: 300px;
}

.login #content-main {
    width: 270px !important;
    left: 0px !important;
}

#application-notice {
    position: relative;
    top: 400px;
    left: -200px;
    width: 295px;
    text-align: center;
}