/**********************************************
ERDT Admin Login Styles
Author: Christian Sta.Ana
Date: Fri Jul 18
**********************************************/

.login #container {
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.login #header {
    display: none;
}

.login #content-main #erdt-logo {
    width: 70%;
    margin: 20px auto 0;
    display: block;
}

.login #content {
    min-height: 300px;
}