{% extends "admin/base_site_pdf.html" %}
{% load i18n admin_static admin_modify suit_tags admin_urls %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
  {% url 'admin:jsi18n' as jsi18nurl %}
  <script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>

  {{ media }}

{% endblock %}


{% block extrajs %}
  {{ block.super }}

  {% if 'CONFIRM_UNSAVED_CHANGES'|suit_conf %}
    <!-- Warn on leaving unsaved form -->
    <script src="{% static 'suit/js/suit-form-confirm.js' %}"></script>
    <script type="text/javascript">
      confirmExitIfModified('{{ opts.module_name }}_form', '{% trans 'You have unsaved changes' %}.');
    </script>
  {% endif %}

  {% if adminform.model_admin.suit_form_tabs %}
    <script type="text/javascript">
    (function ($) {
      $(function () {
        $('#suit_form_tabs').suit_form_tabs();
      });
    }(Suit.$))
    </script>
  {% endif %}
        
  <script>
    (function ($) {
      $(function () {
        $("#{{ opts.module_name }}_form").suit_form_debounce();
      });
    }(Suit.$))    
  </script>

  {% if has_view_permission and not has_change_permission %}
    <script type="text/javascript">
    jQuery('input:text').attr('readonly', 'readonly');
    jQuery('textarea').attr('readonly', 'readonly');
    jQuery('input:checkbox').attr('disabled', true);
    jQuery('select').attr('disabled', true);
    jQuery('.add-another').hide();
    </script>
  {% endif %}

{% endblock %}

{% block extrastyle %}
  {{ block.super }}
{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <ul class="breadcrumb">
      <li>
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <span class="divider">&raquo;</span>
      </li>
      <li>
        <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
        <span class="divider">&raquo;</span>
      </li>
      <li>
        {% if has_change_permission %}
          <a href="{% url opts|admin_urlname:'changelist' %}">
            {{ opts.verbose_name_plural|capfirst }}</a>{% else %}
          {{ opts.verbose_name_plural|capfirst }}{% endif %}
        <span class="divider">&raquo;</span>
      </li>
      <li class="active">
        {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
      </li>
    </ul>
  {% endblock %}
{% endif %}

{% block content %}
  <div id="content-main" class="inner-two-columns">
   
    <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post"
          id="{{ opts.module_name }}_form" class="form-horizontal">

      
      <div class="inner-center-column" style="margin-right: 0px;">
        {% csrf_token %}{% block form_top %}{% endblock %}
        {% block suit_form_tabs %}
          {% if adminform.model_admin.suit_form_tabs %}
            <ul id="suit_form_tabs" class="nav nav-tabs nav-tabs-suit" data-tab-prefix="suit-tab">
              {% for tab in adminform.model_admin.suit_form_tabs %}
                <li><a href="#{{ tab.0 }}">{{ tab.1 }}</a></li>{% endfor %}
            </ul>
          {% endif %}
        {% endblock %}
        <div class="tab-content tab-content-main">
          {% if is_popup %}
            <input type="hidden" name="_popup" value="1"/>{% endif %}
          {% if errors %}
            <div class="alert alert-error">
              {% blocktrans count counter=errors|length %}Please correct the error below.{% plural %} Please correct the errors below.{% endblocktrans %}
              {{ adminform.form.non_field_errors }}
            </div>
          {% endif %}

          {# render suit_form_includes at top position #}
          {% include 'suit/includes/change_form_includes.html' with position='top' %}

          {% block field_sets %}
            {% for fieldset in adminform %}
              {% include "admin/reporting/fieldset_pdf.html" %}
            {% endfor %}
          {% endblock %}

          {% block after_field_sets %}{% endblock %}

          {# render suit_form_includes at middle position #}
          {% include 'suit/includes/change_form_includes.html' with position='middle' %}

          {% block inline_field_sets %}
            {% for inline_admin_formset in inline_admin_formsets %}
              {% include inline_admin_formset.opts.template %}
            {% endfor %}
          {% endblock %}

        </div>

        {% block after_related_objects %}{% endblock %}

        {# render suit_form_includes at last position #}
        {% include 'suit/includes/change_form_includes.html' with position='bottom' %}

        {% if adminform and add %}
          <script type="text/javascript">document.getElementById("{{ adminform.first_field.id_for_label }}").focus();</script>
        {% endif %}

        {# JavaScript for prepopulated fields #}
        {% prepopulated_fields_js %}

      </div>
    </form>
  </div>
{% endblock %}

{# Empty centered sidebar as now we use sidebar in content block#}
{% block sidebar_content %}{% endblock %}