{% extends "admin/base_pdf.html" %}
{% load admin_static %}

{# Additional <head> content here, some extra meta tags or favicon #}
{#{% block extrahead %}#}
{#{% endblock %}#}


{# Additional CSS includes #}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/erdt-admin.css' %}" />
{% endblock %}


{# Additional JS files in footer, right before </body> #}
{% block extrajs %}
<script type="text/javascript" src="{% static 'admin/js/profile-switcher.js' %}"></script>
{% endblock %}


