{% extends "admin/base.html" %}

{% load staticfiles %}

{% block title %}{{constants.site.site_title}}{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/erdt-admin.css' %}" />
{% endblock %}

{% block extrahead %}
<script type="text/javascript" src="{% static 'admin/js/jquery-1.11.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/profile-switcher.js' %}"></script>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{constants.site.project_title}}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
