{#{% load sitetree %}#}
{% load i18n suit_menu %}
{% load url from future %}

<div class="left-nav" id="left-nav">
  <ul>
    {% block menu_home %}
      {% url 'admin:index' as index_url %}
      <li{% if index_url == request.path %} class="active"{% endif %}>
        <a href="{{ index_url }}"><i class="icon-home"></i>{% trans 'Home' %}
        </a>
      </li>
    {% endblock %}
    
    {% get_menu request as app_list %}
    
    {% if app_list %}
      {% for app in app_list %}
        {% if app.separator %}
          <li class="separator"></li>
        {% else %}
          <li{{ app.is_active|yesno:' class=active,' }}>
            <a href="{{ app.url }}"{{ app.blank|yesno:' target=_blank,' }}><i class="{% firstof app.icon 'icon-chevron-right' %}"></i>{% trans app.label|capfirst %}
            </a>
            {% if app.models %}
              <ul>
                {% for model in app.models %}

                  {% if model.label == 'Persons' %} 
                    {% if request.get_full_path == "/profiling/person/" %} 
                    <li class="active">  
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_person_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Local Scholarships' %} 
                    {% if request.get_full_path == "/profiling/scholarship/" %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_scholarship_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Abroad Scholarships' %} 
                    {% if request.get_full_path == "/profiling/erdt_scholarship_special/" %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_erdt_scholarship_special_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Sandwich Programs' %} 
                    {% if request.get_full_path == "/profiling/sandwich_program/" %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_sandwich_program_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Postdoctoral Fellowships' %} 
                    {% if request.get_full_path == "/profiling/postdoctoral_fellowship/" %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_postdoctoral_fellowship_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Faculty Research Grants' %} 
                    {% if request.get_full_path == "/profiling/frgt/" %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_frgt_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Faculty Research Dissemination Grants' %} 
                    {% if request.get_full_path == "/profiling/frdg/" %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_frdg_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}              

                  {% if model.label == 'Fund Releases' %} 
                    {% if request.get_full_path == "/profiling/grant_allocation_release/" %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_grant_allocation_release_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Universities' %}  
                    {% if request.get_full_path == "/profiling/university/" %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_university_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Visiting Professor Grants' %}  
                    {% if request.get_full_path == "/profiling/visiting_professor_grant/" %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_visiting_professor_grant_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Degree Programs' %}  
                    {% if request.get_full_path == "/profiling/degree_program/" %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_degree_program_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Enrolled Subjects' %}  
                    {% if request.get_full_path == "/profiling/enrolled_subject/" %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_enrolled_subject_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Equipments' %}  
                    {% if request.get_full_path == "/profiling/equipment/" %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_equipment_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Research Disseminations' %}  
                    {% if request.get_full_path == "/profiling/research_disseminations/" %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_research_dissemination_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>
</div>
