{#{% load sitetree %}#}
{% load i18n suit_menu %}
{% load url from future %}

<div class="left-nav" id="left-nav">
  <ul>
    {% block menu_home %}
      {% url 'admin:index' as index_url %}
      <li{% if index_url == request.path %} class="active"{% endif %}>
        <a href="{{ index_url }}"><i class="icon-home"></i>{% trans 'Home' %}
        </a>
      </li>
    {% endblock %}
    
    {% get_menu request as app_list %}
    
    {% if app_list %}
      {% for app in app_list %}
        {% if app.separator %}
          <li class="separator"></li>
        {% elif app.label != 'Reporting' %}
          <li
            {% if "/auth/user/" in request.get_full_path and app.label == 'Authentication and Authorization' %}
              class="active"
            {% endif %}
            {% if "/profiling/person/" in request.get_full_path and app.label == 'Profiling' %}
              class="active"
            {% endif %}
          >
            {% if app.label == 'Authentication and Authorization' %}
              <a href="/auth/user/"{{ app.blank|yesno:' target=_blank,' }}><i class="{% firstof app.icon 'icon-chevron-right' %}"></i>{% trans app.label|capfirst %}
              </a>
            {% else %}
              <a href="/profiling/person/"{{ app.blank|yesno:' target=_blank,' }}><i class="{% firstof app.icon 'icon-chevron-right' %}"></i>{% trans app.label|capfirst %}
              </a>
            {% endif %}
            {% if app.models %}
              <ul>
                {% for model in app.models %}

                  {% if model.label == 'Users' %} 
                    {% if "/auth/user/" %} 
                    <li class="active">  
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:auth_user_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Persons' %} 
                    {% if "/profiling/person/" in request.get_full_path %} 
                    <li class="active">  
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_person_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if multi_profile.is_admin %}
                    {% if model.label == 'Universities' %} 
                      {% if "/profiling/university/" in request.get_full_path %} 
                      <li class="active"> 
                      {% else %}
                      <li>
                      {% endif %}
                      <a href="{% url 'admin:profiling_university_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                      </li>
                    {% endif %}
                  {% endif %}

                  {% if model.label == 'Degree Programs' %}  
                    {% if "/profiling/degree_program/" in request.get_full_path %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_degree_program_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Enrolled Subjects' %}  
                    {% if "/profiling/enrolled_subject/" in request.get_full_path %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_enrolled_subject_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}

    {# FOR GRANTS  #}

    {% if app_list %}
      {% for app in app_list %}
        {% if app.separator %}
          <li class="separator"></li>
        {% elif app.label == 'Profiling' %}
        {% if multi_profile.is_admin %}
          <li 
          {% if "/profiling/erdt_scholarship_special/" in request.get_full_path %}
            class="active"
          {% endif %}
          {% if "/profiling/scholarship/" in request.get_full_path %}
            class="active"
          {% endif %}
          {% if "/profiling/sandwich_program/" in request.get_full_path %}
            class="active"
          {% endif %}
          {% if "/profiling/postdoctoral_fellowship/" in request.get_full_path %}
            class="active"
          {% endif %}
          {% if "/profiling/frgt/" in request.get_full_path %}
            class="active"
          {% endif %}
          {% if "/profiling/frdg/" in request.get_full_path %}
            class="active"
          {% endif %}
          {% if "/profiling/visiting_professor_grant/" in request.get_full_path %}
            class="active"
          {% endif %}
            >
            <a href="{% url 'admin:profiling_scholarship_changelist' %}"><i class="icon-chevron-right"></i>Grants
            </a>
            
              <ul>
                {% for model in app.models %}

                  {% if model.label == 'Scholarships (Local)' %} 
                    {% if "/profiling/scholarship/" in request.get_full_path %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_scholarship_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Scholarships (PhD Abroad)' %} 
                    {% if "/profiling/erdt_scholarship_special/" in request.get_full_path %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_erdt_scholarship_special_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Sandwich Programs' %} 
                    {% if "/profiling/sandwich_program/" in request.get_full_path %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_sandwich_program_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Postdoctoral Fellowships' %} 
                    {% if "/profiling/postdoctoral_fellowship/" in request.get_full_path %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_postdoctoral_fellowship_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Faculty Research Grants' %} 
                    {% if "/profiling/frgt/" in request.get_full_path %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_frgt_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Faculty Research Diss Grants' %} 
                    {% if "/profiling/frdg/" in request.get_full_path %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_frdg_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}          

                  {% if model.label == 'Visiting Professor Grants' %}  
                    {% if "/profiling/visiting_professor_grant/" in request.get_full_path %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_visiting_professor_grant_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                {% endfor %}
              </ul>
            
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {# FOR FUND RELEASES  #}

    {% if app_list %}
      {% for app in app_list %}
        {% if app.separator %}
          <li class="separator"></li>
        {% elif app.label == 'Profiling' %}
        {% if multi_profile.is_admin %}
          <li
          {% if "/profiling/grant_allocation_release/" in request.get_full_path %}
            class="active"
          {% endif %}
          {% if "/profiling/equipment/" in request.get_full_path %}
            class="active"
          {% endif %}
          {% if "/profiling/fund_release_batchtools/" in request.get_full_path %}
            class="active"
          {% endif %}
          {% if "/profiling/research_dissemination/" in request.get_full_path %}
            class="active"
          {% endif %}
            >
            <a href="{% url 'admin:profiling_grant_allocation_release_changelist' %}"><i class="icon-chevron-right"></i>Fund Releases
            </a>
            
              <ul>
                {% for model in app.models %}

                  {% if model.label == 'Equipments' %}  
                    {% if "/profiling/equipment/" in request.get_full_path %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_equipment_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Fund Releases' %}  
                    {% if "/profiling/grant_allocation_release/" in request.get_full_path %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_grant_allocation_release_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Fund Batch Releases' %}  
                    {% if "/profiling/fund_release_batchtools/" in request.get_full_path %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_fund_release_batchtools_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Research Disseminations' %}  
                    {% if "/profiling/research_dissemination/" in request.get_full_path %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:profiling_research_dissemination_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                {% endfor %}
              </ul>
            
          </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {# FOR REPORTING  #}

    {% if app_list %}
      {% for app in app_list %}
        {% if app.separator %}
          <li class="separator"></li>
        {% elif app.label == 'Reporting' %}
          <li 
          {% if "/reporting/university_report/" in request.get_full_path %}
            class="active"
          {% endif %}
          {% if "/reporting/individual_report/" in request.get_full_path %}
            class="active"
          {% endif %}
            >
            <a href="{% url 'admin:reporting_individual_report_changelist' %}"><i class="icon-chevron-right"></i>Reporting
            </a>
            
              <ul>
                {% for model in app.models %}

                  {% if model.label == 'University Reports' %}  
                    {% if "/reporting/university_report/" in request.get_full_path %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:reporting_university_report_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                  {% if model.label == 'Individual Reports' %}  
                    {% if "/reporting/individual_report/" in request.get_full_path %} 
                    <li class="active"> 
                    {% else %}
                    <li>
                    {% endif %}
                    <a href="{% url 'admin:reporting_individual_report_changelist' %}"{{ model.blank|yesno:' target=_blank,' }}>{{ model.label }}</a>
                    </li>
                  {% endif %}

                {% endfor %}
              </ul>
            
          </li>
        {% endif %}
      {% endfor %}
    {% endif %}

  </ul>
</div>
